
html {
    font-size: 16px;
    background: #000;
}

.link {
    color: #fefefe;
}

.corporate_information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2rem;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
}

.message {
    border-radius: 1rem;
    padding: 1rem;
    word-spacing: 5px;
    background: #620ac0bf;
    color: #fff;
}

.corporate_information strong {
    padding: 1rem;
}

#backgroundYoutubePlayer {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: calc(100vw * 0.5625);
    width: auto;
    height: auto;
}

@media all and (min-width: 380px) {
    header {
        border-radius: 1rem;
        max-width: 1600px;
        margin: 0 auto;
        height: calc(100vw * 0.5625 - 2rem);
    }
}

@media all and (max-width: 380px) {
    header {
        border-radius: 1rem;
        max-width: 1600px;
        margin: 1rem auto;
        height: calc(100vw * 0.5625 - 2rem);
    }
}

.samePlanets {
    height: 10rem;
    text-align: center;
}

.activity {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    margin: 3rem 0;
}

.m0 {
    margin: 0;
}

.activity p {
    width: 90%;
    margin: 0 auto;
}

@media all and (min-width: 2000px) {
    .activity {
        margin: 3rem -6rem;
        border: 3px solid #888;
    }

    .activity div {
        width: 100%;
        margin: 1rem auto;
    }

    .activity p {
        width: 100%;
        margin: 1rem auto;
    }
}

.stickyBackground {
    margin: 5rem auto;
    text-align: center;
}

.logo_img {
    padding: 1rem 0 0 1rem;
}

main {
    background: #000d;
    position: relative;
    border-radius: 1rem;
    max-width: 1600px;
    margin: 1rem auto;
    margin-bottom: 0;
    line-height: 1.5rem;
    box-shadow: 3px 3px 1px #000, 0px 0px 3px 5px;
}

body {
    background: #000;
}

.headerMain {
    text-shadow: 0 0 0px rgb(255 255 255), 0 0 1px rgb(0 0 0 / 85%);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    padding: 2rem 2rem 1rem;
    color: #620abf;
}

h2:before {
    content: "_";
    width: 1rem;
    margin-right: 1rem;
    background: #620abf;
    height: 1rem;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.activity_contents {
    width: 100%;
    box-sizing: border-box;
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.memberActivity {
}

.memberIcon {
    background: #822288a1;
    border-radius: 3rem;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border: 0.4rem solid #fff;
}

.memberIcon img {
    width: 100%;
}

.donationRecord {
    border-radius: 1rem;
    line-height: 3;
    padding: 0.5rem;
    color: #fff;
    width: 80%;
    margin: 1rem;
    height: 3rem;
    background: #827;
}
